# Entorno virtual
venv/
__pycache__/

# Archivos de compilación
build/
dist/
*.spec

# Bases de datos locales
*.db

# Archivos temporales
*.log

# Ignorar base de datos local
instance/taller.db
*.db

# Ignorar compilaciones
build/
dist/
*.spec
