# =========================================
# Archivos de Python
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# Entorno virtual
# =========================================
venv/
env/

# =========================================
# Compilaciones y ejecutables
# =========================================
build/
dist/
*.spec
*.exe

# =========================================
# Migraciones (solo versiones, no estructura base)
# =========================================
migrations/versions/*.py

# =========================================
# Base de datos local
# =========================================
*.sqlite3
instance/*.db

# =========================================
# Archivos de usuario / reportes
# =========================================
reportes/*.xlsx
reportes/*.csv

# =========================================
# Logs y temporales
# =========================================
*.log
*.tmp

# =========================================
# Archivos de sistema
# =========================================
.DS_Store
Thumbs.db
